
{% block content %}
    <a href="http://www.accuweather.com/en/us/teaneck-township-nj/07666/weather-forecast/339548" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
-->
</a><div id="awcc1465284642223" class="aw-widget-current"  data-locationkey="1-339548_1_AL" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1465284642223"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>



{% endblock %}
