<body class="news">
  <header>
      <link rel="stylesheet" type="'text/css" href="new_menu_css_file.css">
    <div class="nav">
      <ul>
        <li class="Products"><a href="#">Products</a>
          <ul>
              <li><a href="#">Data Recovery</a></li>
          </ul>
        <li class="Solutions"><a href="#">Solutions</a></li>
        <li class="Apps"><a href="#">Apps</a></li>
        <li class="Blog"><a href="#">Blog</a></li>
        <li class="contact"><a href="#">Contact</a></li>
      </ul>
    </div>
  </header>
</body>
